
.campeon:hover {
    transform: scale(1.1);
    transition: all 0.5s;
    cursor: pointer;
}

.campeon h1 {
    background-color: #181a20;
    width: 100%;
    margin-bottom: 0;
    height: 20%;
    text-align: center;
    line-height: 37px;
}


.campeon {
    width: 250px;
    height: 200px;
    transition: all 0.5s;
    overflow: hidden;
    background-size: cover;
    background-position: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: #cda61d;
    margin-top: 6rem;
}


.campeones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 5%;
}

button {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: var(--btn-width);
    font-weight: bold;
    background: #dda409;
    border-radius: 0 var(--rad) var(--rad) 0;
}


.select {
    background-color: #181a20;
    color: #cda618;
    border-radius: 2rem;
    padding: 1rem;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    text-align: center;
    cursor: pointer;
}

.filtros {
    display: flex;
    justify-content: space-around;
    padding: 2%;
    margin: 5rem;
    gap: 8%;
}

.roles {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #cda61d;
}

.roles h1 {
    cursor: pointer;
}
.roles :nth-child(1){
    border-bottom: 2px solid rgb(255, 255, 255);
}
.content{
    margin-top: 21rem;
}