
.habilidades{
    background-color: #261818;
    width: 100%;
    padding-top: 5rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 20rem;
    position: relative;
    height: 100vh;
}

.nomHabilidades{
    font-size: 11rem;
    padding-left: 8rem;
}

.conteidoHabilidades {
    display: flex;
    align-items: flex-start;
    gap: 5%;
    justify-content: center;
    width: 100%;
    
    position: relative;
}

.izquierdaHabilidades{
    width: 45%;

}
.imgHabilidades{
    display: flex;
    gap: 5rem;
    width: 100%;
}
.imgHabilidades img{
    width: 10rem;
    border: solid 1px #cb9d15;
    transition: 0.5s;
    padding: 0.5rem;
}
.imgHabilidades img:hover{
    transform: translateY(-1rem);
    cursor: pointer;
}
.descHabilidades{
    width: 100%;
}
.descHabilidades p{
    height: 100%;
    width: 100%;
    font-size: 3rem;
}
.videoHabilidades{
    width: 45%;
}

.habilidades::before {
    content: "";
    background: linear-gradient(#dd1c1c00, #0e1015 84%);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 44%;
}
@media (max-width: 1200px){
    .conteidoHabilidades{
        flex-direction: column-reverse;
    }
    .videoHabilidades{
        width: 80%;
    }
}