
.skins{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    /* background-image: url("../../public/splash/Aatrox_1.jpg"); */
    padding: 2%;
    /* height: 1235px; */
    align-items: center;
}
.skin{
    display: flex;
    align-items: center;
    color: white;
    font-size: 2em;
    gap: 5%;
    cursor: pointer;
}
.skin img{
    width: 100px;
    
}
.tituloSkins{
    font-size: 11rem;
    padding-left: 8rem;
    color: white;
    margin-top: 0px;
}
.fondo{
    /* position: absolute; */
    z-index: -1;
    width: 80%;
    transition: all 0.5s;
}
.contenedorSkins{
    width: 25%;
    height: 92%;
    display: flex;
    flex-direction: column;
    gap: 4%;
    position: absolute;
    left: 11.5%;
    overflow-y: scroll;
    background-color: #10100ca3;
}
.sectionSkins{
    
}


.contenedorSkins::-webkit-scrollbar {
    width: 12px;
}

.contenedorSkins::-webkit-scrollbar-track {
    background: #181a20;
}

.contenedorSkins::-webkit-scrollbar-thumb {
    background-color: #0e1015;
    border-radius: 20px;
    border: 3px solid #dd9718;
}
@media(max-width: 1010px){
    
    .tituloSkins{
        font-size: 11vw;
        padding-left: 0;
     }
     .sectionSkins{
        display: flex;
        flex-direction: column;
        align-items: center;
     }
     .contenedorSkins{
        width: 77%;
        height: 89%;
        display: flex;
        flex-direction: row;
        gap: 4%;
        position: absolute;
        left: 11.5%;
        overflow-y: scroll;
        background-color: #10100ca3;
        top: 100%;
     }
     .skin{
        padding-right: 4rem;
     }
}