
.skins{
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    /* background-image: url("../../public/splash/Aatrox_1.jpg"); */
    padding: 2%;
    /* height: 1235px; */
    align-items: center;
}
.skin{
    display: flex;
    align-items: center;
    color: white;
    font-size: 2em;
    gap: 5%;
}
.skin img{
    width: 100px;
    
}
.tituloSkins{
    font-size: 11rem;
    padding-left: 8rem;
    color: white;
    margin-top: 0px;
}
.fondo{
    /* position: absolute; */
    z-index: -1;
    width: 80%;
}
.contenedorSkins{
          /* width: 75%; */
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 4%;
    position: absolute;
    left: 12%;
    overflow-y: scroll;
}
.sectionSkins{
    
}